application.yaml
device.json
Sora233-MiraiGo
.lsp.db
.lsp.db.lock
DDBOT

*.DS_Store

/tarot

/logs
/miraigo-logs
/qrcode.png
/qq-logs
/session.token
/dist/
/template

/.idea
/.coverage.out
/coverage.html
