/.idea
/logs
/miraigo-logs

/.coverage.out
/coverage.html

.DS_Store

*.DS_Store

application.yaml
device.json
Sora233-MiraiGo

.lsp.db
.lsp.db.lock

/tarot

/qrcode.png
/qq-logs
/session.token

/dist/
/template

/version*.json

